.introduce{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__img{
        width:300px;
        height: 300px;
    }
    &__text{
        width: 400px;
        max-width: 500px;
    }
}
.about__text{
    width: 70%;
    height: auto;
    display: grid;
    grid-template-columns: minmax(10%, auto) minmax(80%, auto) minmax(10%, auto);
    grid-template-rows: 100px minmax(150px , auto) 100px;
    place-items: center;
    &-title{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    &-text{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        font-size: 16px;
    }
    &-cv{
        grid-column: 2 / 3;
        grid-row: 3 / 4;
    }
}

.technology{
    padding-bottom: 10vh;
    &__container{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(8, 12.5%);
        grid-template-rows: 150px repeat(2, 120px);
        &-title{
            grid-column: 1 / 9;
            grid-row: 1 / 2;
        }
        &-item{
            width: 70px;
            height: 70px;
        }
    }
}

.proyect__container{
    width: 690px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2,45%);
    grid-template-rows: repeat(4, 200px);
    gap: 25px 10%;
    place-items: center;
    &-item{
        width: 300px;
        height: 200px;
    }
}